*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: "Dongle-light";
    src: url("Dongle/Dongle-Light.ttf");
}
@font-face{
    font-family: "Dongle-regular"; 
    src: url("Dongle/Dongle-regular.ttf");
}
@font-face{
    font-family: "Dongle-bold";
    src: url("Dongle/Dongle-bold.ttf");
}
header{
    display: flex;
    padding: 20px;
    background-color:#fff;
    box-shadow: 0 0 10px rgba(0, 0,0, 0.1);
    align-items: center;
}
.logo img{
    width: 10%;
}
.navlink{
    text-decoration: none;
    font-family: 'Dongle-bold';
    color: #333;
    margin-right: 20px;
    font-size: 1.6rem;
    transition: all ease 0.3s;
}
#navlogin{
    background-color: #ff7f50;
    padding: 2px 20px;
    color: #fff;
    border-radius: 40px;

}
.navmenu ul{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-left: 50%;
    
}
.navmenu a:hover{
    color: #ff7f50;
}
.navlink li:last-child{
    margin-right: 0;
}
body{
    font-family: 'outfit';
    background: linear-gradient(#ffdad5,#fff7f9);
}
.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-left-title h2{
    font-weight: 600;
    color: #a363aa;
    font-size: 40px;
    margin-bottom: 5px;
}
.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: #a363aa;
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}
.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-inputs:focus{
border: 2px solid #ff994f;
}
.contact-inputs::placeholder{
    color: #a9a9a9;
}
.contact-left button{
    display: flex;
    align-items: ceenter;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg,#ff994f,#fa6d86);
    cursor: pointer;
}
.contact-left button img{
    height: 15px;
}
.contact-right img{
    width: 500px;
}
@media(max-width:800px){
    .contact-inputs{
        width: 80vw;
    }
    .contact-right{
        display: none;
    }
}
footer{
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.social-icons a{
    color: #fff;
    font-size: 24px;
    margin-right: 20px;
}
footer p{
    font-family: "Dongle-regular";
    font-size: 1.4rem;
}