*{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: "Dongle-light";
    src: url("Dongle/Dongle-Light.ttf");
}
@font-face{
    font-family: "Dongle-regular"; 
    src: url("Dongle/Dongle-regular.ttf");
}
@font-face{
    font-family: "Dongle-bold";
    src: url("Dongle/Dongle-bold.ttf");
}
header{
    display: flex;
    padding: 20px;
    background-color:#fff;
    box-shadow: 0 0 10px rgba(0, 0,0, 0.1);
    align-items: center;
}
.logo img{
    width: 10%;
}
.navlink{
    text-decoration: none;
    font-family: 'Dongle-bold';
    color: #333;
    margin-right: 20px;
    font-size: 1.6rem;
    transition: all ease 0.3s;
}
#navlogin{
    background-color: #ff7f50;
    padding: 2px 20px;
    color: #fff;
    border-radius: 40px;

}
.navmenu ul{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-left: 50%;
    
}
.navmenu a:hover{
    color: #ff7f50;
}
.navlink li:last-child{
    margin-right: 0;
}
.destinations{
    font-size: 2.4rem;
    font-family: "Dongle-bold";
    margin: 40px 80px;
    text-align: center;
}
.destinations h2{
    margin-bottom: 40px;
}
.destination-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}
.destination-item img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.destination-item{
    text-align: left;
}
.destination-item h3{
    font-size: 2rem;
}
.destination-item p{
    font-size: 1.4rem;
    line-height: 1;
    font-family: "Dongle-regular";
}
#backhome{
    text-decoration: none;
    background-color: #ff7f50;
    padding: 10px 30px;
    color: white;
    margin-top: 10px;
    border-radius: 50px;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 30px;

}
#backhome:hover{
    background-color: #333;
    color: white;
    transition: all ease 0.5s;
}
footer{
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.social-icons a{
    color: #fff;
    font-size: 24px;
    margin-right: 20px;
}
footer p{
    font-family: "Dongle-regular";
    font-size: 1.4rem;
}